[Desktop Entry]
Type=Application
Name=Mame
Comment=MAME is a multi-purpose emulation framework
Exec=mame -natural
Icon=MAMElogo.svg
Terminal=false
StartupNotify=false
Categories=Game
