[Desktop Entry]
Type=Application
Name=X64sc (Vice)
Comment=Commodore 64 Emulator
Exec=x64sc
Icon=c64
Terminal=false
StartupNotify=false
Categories=Game
Name[en_US]=vice_64sc
